* {box-sizing:border-box;}
body {background-color: #CCC;}

img, #catarea{
    display: block;
    margin: 0 auto;
}

ul, h3, #admin-panel{
  width: 100%;
  text-align: center;
}

.cat {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

h1, .catlist {
    text-align: center;
}

.hidden {
  display: none;
}